<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="dataSourceOne"  class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/test?serverTimezone=UTC"></property>
        <property name="username" value="root"></property>
        <property name="password" value="liufei302"></property>
    </bean>
    <bean id="dataSourceTwo"  class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/testdb?serverTimezone=UTC"></property>
        <property name="username" value="root"></property>
        <property name="password" value="liufei302"></property>
    </bean>
    <bean id="dataSourceSwitcher" class="com.yueming.multdatasource.DataSourceSwitcher">
        <property name="targetDataSources">
            <map>
                <entry key="ds1" value-ref="dataSourceOne"></entry>
                <entry key="ds2" value-ref="dataSourceTwo"></entry>
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="dataSourceOne"></property>
    </bean>
</beans>